#card{
    background-color: white;
    box-shadow: 0px 2px 8px rgba(0,0,0,0.3);
    text-align: center;
    padding: 1%;
    width:200px;
    transition: transform .09s;
    cursor: pointer;
}

#card #cleft{
    display: inline-block;
    position: relative;
    left:0%;
    width:48%;
    top:0%;  
    border-right: black solid 1px;
    align-items: center;
}

#card #cright{
    display: inline-block;
    position: relative; 
    top:0%;
    
    width:48%; 
    padding:1%; 
}

#striked{
    text-decoration: line-through;
}

#bbt1{
    position: relative;
    width: 70%;
    background-color: orange;
    border: orange solid 1px;
    color: white;
    
    padding: 2px;
}

#bbt1:hover{
    background-color:#c7381f;
    border: #c7381f solid 1px;
}

#card:hover{
    transform: scale(1.2);
}




