*{
    margin: 0;
}

#light{
    font-size: small;
}

#wbox{
    position: relative;
    text-align: center;
    box-shadow: 0px 2px 8px rgba(0,0,0,0.3);
    padding:2%;
    width:86%;
    left:5%;
    right:5%;
    z-index: 1;
}

#light1{
    font-size: medium;
}


#button1{
    background-color: orange;
    border: orange solid 1px;
    color:white;
    width:20%;
    height:30px;
}

#button1:hover{
    background-color:#dd4124;
    border: #dd4124 solid 1px;
}

#big{
    font-size: xx-large;
    font-weight: bolder;
}

#wbox hr{
    position: relative;
    left:10%;
    right:10%;
    width:80%;
}

