body{
    /* background-image: url(../../../files/images/login.jpg); */
    background-size: cover;
}

a{
    color:rgb(80, 80, 80);
    text-decoration: none;
}

a:active{
    color:rgb(80, 80, 80);
    text-decoration: none;
}

a:hover{
    color:black;
    text-decoration: none;

}