header{
    position:fixed;
    top:0%;
    width:100%;
    height:40px;
    text-align: center;
    padding-top: 8px;
    background-color: orange;
    z-index: 2;
}

.left{
    float:left;
    padding-left: 2%;
}

.right{
    position: relative;
    display: inline;
    float:right;
    padding-right: 2%;
     /* border: black solid 1px; */
}

.center{
    position: relative;
    left:20%;
    width:50%;
    text-align: center;
    /* border: black solid 1px;  */
}
