#kart{
    background-color: rgb(255, 255, 255);
    box-shadow: 0px 2px 8px rgba(0,0,0,0.3);
    text-align: center;
    padding: 2%;
    width:50%;
    z-index:5;
    position: absolute;
    left: 25%;
    right:25%;
    text-align: center;
    color:black;
    top:20%;
    display: none;
}

#backdrop{
    position: fixed;
    top:0%;
    width:100%;
    height:100%;
    z-index:5;
    background-color: rgba(0, 0, 0, 0.781);
    display: none;
}

#inline button{
    display: inline-block;
    width:150px;
    margin:5px;
}

.listitems{
    text-align: left;
    padding-left: 5%;
}

#buttonflex{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
}

#bbt2{
    position: relative;
    width: 70%;
    background-color: orange;
    border: orange solid 1px;
    color: white;
    padding: 2px;
    padding: 5px;
}

#bbt2:hover{
    background-color:#c7381f;
    border: #c7381f solid 1px;
}


#plus{
    display: inline;
    margin:5px;
    cursor: pointer;
    background-color: green;
    color: white;
    padding-top:0.5px;
    padding-bottom:0.5px;
    padding-left:4px;
    padding-right:4px;
    font-weight: bold;
}

#minus{
    position: relative;
    display: inline;
    margin:1px;
    cursor: pointer;
    background-color: rgb(177, 0, 0);
    font-weight: bold;
    color: white;
    padding-top:0.5px;
    padding-bottom:0.5px;
    padding-left:6px;
    padding-right:6px;
}

#plus:hover{
    background-color: rgb(6, 184, 6);
}

#minus:hover{
    background-color:red;
}


#fitem{
    display: inline;
}

.listitems #flist{
    margin:5px
}